<h1>Cocktails#index</h1>

<% @cocktails.each do |co| %>
  <div class="card">
    <%= link_to cocktail_path(co), { class: "btn btn-primary" } do %>
      <%= co.name %><span class="label label-primary">OPEN</span>
    <% end %>
  </div>
<% end %>

  <div class="btn btn-danger">
    <%= link_to "ADD NEW COCKTAIL", new_cocktail_path  %>
  </div>

</ul>


